@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
  text-align: center;
  background-color: #111111;
  color: white;
  font-family: 'Shantell Sans', cursive;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#id {
  width: 50%;
  height: 26px;
  border: 1px solid #0c0c0c;
  font-family: sans-serif;
  font-size: 16px;
}

#container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #0c0c0c;
  padding: 8px;
}

th {
  background-color: #444444;
  color: white;
}

tfoot td {
  background-color: #444444;
  color: white;
  font-weight: bold;
}

tfoot td:first-child {
  text-align: right;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlight {
  background-color: whitesmoke;
  color: black;
}

.purple {
  color: rgb(150, 20, 165);
}

.blue {
  color: rgb(0, 180, 255);
}

.open {
  color: rgb(0, 165, 50);
}

.closed {
  color: rgb(175, 0, 0);
}