<!DOCTYPE html>
<html>

	<head>
		<title>Create Note</title>
		<meta name="author" content="Wayne">
		<meta name="copyright" content="2014-2018 Wayne Boka">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link href="static/css/ahihi_styles.css" rel="stylesheet" type="text/css">
	</head>

	<body>
		<form action="/note" method="post">
			<div class="bucket">
				<h2>Note</h2>
				<textarea class="notes" name="note" maxlength="1337"></textarea>
				<button type="submit">click</button>
			</div>
		</form>
		<!-- Include jQuery and Count Chars plugin -->
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="static/css/src/jquery.count-chars.js"></script>
		<script type="text/javascript">$("textarea, input").countChars({ "debug": true });</script>
		</script>
	</body>

</html>
